@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

* {
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

ul {
  margin-left: 0;
  padding-left: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #111;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 700px;
}

.square {
  width: 35px;
  height: 35px;
  background: #1d1d1d;
  margin: 2px;
  box-shadow: 0 0 2px black;
  transition: 2500ms ease;
}

.square:hover {
  transition-duration: 0ms;
  transform: rotate(360deg);
}

#checkbox {
  width: 50px;
  height: 50px;
  margin-right: 20px;
  border-radius: 50;
}

.wrapper {
  display: flex;
  flex-direction: raw;
  align-items: center;
  justify-content: center;
  height: 120px;
}

.wrapper label {
  color: #f0f8ff;
  font-size: 55px;
}
